# Node dependencies
node_modules/

# macOS system files
.DS_Store

# Editor and OS metadata
._*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/
/build/

# Misc
.env
.env.*

# Ignore public assets cache (optional, uncomment if needed)
# public/assets/cache/ 
.vercel
.env*.local
